
<div class="recent-grid" >
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3>PEOPLE</h3>
            </div>
            <div class="card-body">
                <div style="display: flex; justify-content: space-around; padding-top:5%">
                    <div><b>Name: </b>{{persons.name}}</div>
                    <div><b>Birth_Year:</b> {{persons.birth_year}}</div>
                </div>

                <div style="display: flex; justify-content: space-around; padding-top:5%">
                    <div><b>CREATED:</b> {{persons.created}}</div>
                    <div><b>Edited:</b>{{persons.edited}}</div>
                </div>

                <div style="display: flex; justify-content: space-around; padding-top:5%">
                    <div><b>Gender: </b>{{persons.gender}}</div>
                    <div><b>Hair_color:</b> {{persons.hair_color}}</div>
                </div>

                <div style="display: flex; justify-content: space-around; padding-top:5%">
                    <div><b>Height:</b> {{persons.height}}</div>
                    <div><b>Mass:</b> {{persons.mass}}</div>
                </div>

                <div style="display: flex; justify-content: space-around; padding-top:5%">
                    <div><b>Skin_color: </b>{{persons.skin_color}}</div>
                    <div><b>Eye_color:</b> {{persons.eye_color}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
