
<div class="recent-grid" >
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3>VEHICLE</h3>
            </div>
            <div class="card-body">
                <div style="display: flex; justify-content: space-around; padding-top:5%">
                    <div><b>Name: </b>{{vehicles.name}}</div>
                    <div><b>model:</b> {{vehicles.model}}</div>
                </div>

                <div style="display: flex; justify-content: space-around; padding-top:5%">
                    <div><b>passengers:</b> {{vehicles.passenger}}</div>
                    <div><b>crew:</b> {{vehicles.crew}} </div>
                </div>

                <div style="display: flex; justify-content: space-around; padding-top:5%">
                    <div> <b>edited: </b> {{vehicles.edited}} </div>
                    <div><b>length:</b> {{vehicles.length}}</div>
                </div>

                <div style="display: flex; justify-content: space-around; padding-top:5%">
                    <div><b>manufacturer:</b> {{vehicles.manufacturer}} </div>
                    <div><b>model:</b> {{vehicles.model}}</div>
                </div>

                <div style="display: flex; justify-content: space-around; padding-top:5%">
                    <div><b>vehicle_class: </b>{{vehicles.vehicle_class}}</div>
                    <div><b>cargo_capacity:</b> {{vehicles.cargo_capacity}}</div>   
                </div>
            </div>
        </div>
    </div>
</div>
