
<div class="recent-grid" >
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3>PLANET</h3>
            </div>
            <div class="card-body">
                <div style="display: flex; justify-content: space-around; padding-top:5%">
                    <div><b>Name: </b>{{planets.name}}</div>
                    <div><b>created:</b> {{planets.created}}</div>
                </div>

                <div style="display: flex; justify-content: space-around; padding-top:5%">
                    <div><b>diameter:</b> {{planets.diameter}}</div>
                    <div><b>climate:</b>{{planets.climate}</div>
                </div>

                <div style="display: flex; justify-content: space-around; padding-top:5%">
                    <div><b>edited: </b>{{planets.edited}}</div>
                    <div><b>gravity:</b> {{planets.gravity}}</div>
                </div>

                <div style="display: flex; justify-content: space-around; padding-top:5%">
                    <div><b>orbital_period:</b> {{planets.orbital_period}}</div>
                    <div><b>rotation_period:</b> {{planets.rotation_period}}</div>
                </div>

                <div style="display: flex; justify-content: space-around; padding-top:5%">
                    <div><b>Surface_water: </b>{{planets.surface_water}}</div>
                    <div><b>terrain:</b> {{planets.terrain}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
